@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=IM+Fell+English:ital@0;1&family=Mountains+of+Christmas:wght@400;700&family=Princess+Sofia&display=swap');

:root{
    /*---------------- COLOR PALLATE ----------------*/
    --DarkNeutral:#22070A;
    
    --LightNeutralTrans: #ffdae965;
    --DarkNeutralTrans: #22070A65;
    --LightNeutral:#FFDAE9;

    --Accent:#16bd00;
    --AccentShadow: #0f8000;
    --AccentHighlight: #76f865;

    /*---------------- FONTS ----------------*/
    --ExtraLargeFont:2.2rem;
    --LargeFont: 1.9rem;
    --MediumFont:1.6rem;
    --SmallFont:1.3rem;
    --ExtraSmallFont:1rem;

    --CheckerBorder: 1px solid none;

    --IMFellEnglish: "IM Fell English", serif;
    --Bonbon: "Bonbon", cursive;
    --MountainsOfChristmas: "Mountains of Christmas", serif;
    --PrincessSofia: "Princess Sofia", cursive;
}

/*---------------- PRESETS ----------------*/
.solid{
    background-color: var(--LightNeutral);
}

/*---------------- GLOBAL ----------------*/
*{
    margin:0;
    padding: 0;
    
    box-sizing: border-box;
    color: var(--DarkNeutral);
    font-family: var(--IMFellEnglish);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1,
h2,
h3,
p{
    color: var(--DarkNeutral);
}

h1{
    font-size: var(--LargeFont);
    font-weight: 700;
}

h2{
    font-size: var(--MediumFont);

}

p{
    font-size: var(--SmallFont);
}

.highlight{
    font-weight: 700;
    font-style: italic;
}

  .cookingNotes{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

  }

  .noteDate{
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .noteTitle{
        display: flex;
    justify-content: start;
    align-items: center;
        width: 80%;
        
  }
  .noteTitle a{
    text-decoration: none;
  }
/*---------------- HEADER ----------------*/
header{
    width: 100vw;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: var(--DarkNeutral) 2px solid;
}

.titleContainer{
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.title{
    width: max-content;
    text-decoration: none;
    font-size: clamp(5rem, 2.2rem, 1rem);
    font-family: var(--MountainsOfChristmas);
}
.headerNav{
    width: 50vw;
}

.headerNav .navLinks{
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.headerNav .navLink a{
    text-decoration: none;
    font-size: var(--SmallFont);
}

.utilsContainer{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}








/*---------------- MAIN ----------------*/

main{
    width: 50vw;
    padding: 1rem;
}






/* TAGS */
.tags{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    
}

#tag{
    text-decoration: none;
    color: var(--Accent);
    border-radius: 1rem;
    font-size: var(--ExtraSmallFont);
}


#content{
    padding: 1rem;
}

/*---------------- POSTCARD ----------------*/ 









@media (max-width: 600px){
    body{
        width: 100vw;
    }
    main{
        width: 100vw;
    }
    .headerNav{
        display: none;
    }
    .burgerIcon{
        display: flex;
    }

    header{
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: var(--DarkNeutral) 2px solid;
    }

    .titleContainer{
        width: 40vw;
        border: var(--CheckerBorder);
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
    }

    .utilsContainer{
        width: 40vw;
        border: var(--CheckerBorder);
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
    }

    .sidebar .nav-links{
        width: 50vw;
        height: 50vw;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .sidebar .nav-link a{
        font-size: var(--LargeFont);
    }
}