@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=IM+Fell+English:ital@0;1&family=Mountains+of+Christmas:wght@400;700&family=Princess+Sofia&display=swap');

:root{
    --NeutralDark: #ffffff;
    --LightNeutral99: #ffffff99;
    --NeutralLight: #000000;
    --GreenDark: #36500e;
    --GreenMedium: #80b130;
    --GreenLight: #d5f1a6;
    --GreenLight99: #d5f1a699;
    --PinkDark: #8d2562;
    --PinkMedium: #ec78bc;
    --PinkLight: #eeb6d7;
    --PinkMedium99: #ec78bc99;
    
    --IMFellEnglish: "IM Fell English", serif;
    --Bonbon: "Bonbon", cursive;
    --MountainsOfChristmas: "Mountains of Christmas", serif;
    --PrincessSofia: "Princess Sofia", cursive;

    --Border: .25rem var(--PinkMedium) solid;
}

*{
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    list-style-position: inside;
}

/* BACKGROUND PATTERN */
.gingham {
background-image: 
  linear-gradient(
    0deg,
    var(--PinkMedium99) 0% 10%,
    var(--LightNeutral99) 10% 30%,
    var(--GreenLight99) 30% 50%,
    var(--GreenLight99) 50% 70%,
    var(--LightNeutral99) 70% 90%,
    var(--PinkMedium99) 90% 100%
  ),
  linear-gradient(
    90deg,
    var(--PinkMedium99) 0% 10%,
    var(--LightNeutral99) 10% 30%,
    var(--GreenLight99) 30% 50%,
    var(--GreenLight99) 50% 70%,
    var(--LightNeutral99) 70% 90%,
    var(--PinkMedium99) 90% 100%
  );
background-size: 100px 100px, 100px 100px;
}

.polkadots{
    background-image: 
        radial-gradient(var(--PinkMedium) 20%, transparent 20%),
        radial-gradient(var(--PinkMedium) 20%, transparent 20%);
    background-position: 0px 0px, 60px 60px;
    background-size: 120px 120px;
    background-color: var(--GreenLight);
}



body{
    width: 100vw;
    height: 100vh;
    margin-top: 3rem;
    
}
.bodyWrapper{
    
    border:var(--Border);
    border-radius: 3rem;
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--GreenLight);
}
header{
    height: 20vh;
    display: flex;
    flex-direction: column;
    border-bottom: var(--Border);
}
.titleContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    
}

.titleContainer .title{
    font-family: var(--MountainsOfChristmas);
    font-size: 3.5rem;
    color: var(--PinkMedium);
    font-weight: 500;

}

nav .navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.mainWrapper{
    display: flex;
    flex-direction: row;
}
aside{
    border-right: var(--Border);
    width: 20vw;
}

main{
    width: 30vw;
}

aside .aboutMeSummary,
aside .statusBox,
aside .tagsContainer,
aside nav{
    margin: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

h3{
    padding: .5rem ;
    border-radius: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--PinkLight);
    font-family: var(--MountainsOfChristmas);
    border: .1rem var(--PinkMedium) solid;
}

.statusBox ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

nav .navLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}
.tagsContainer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}




footer{
    border-top: var(--Border);
}

.girl{
    position: fixed;
    height: 12rem;
    left: 0;
    bottom: 0;
}