@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=IM+Fell+English:ital@0;1&family=Mountains+of+Christmas:wght@400;700&family=Princess+Sofia&display=swap');

:root{
    --LightNeutral: #ffffff;
    --LightNeutral99: #ffffff99;
    --DarkNeutral: #000000;

    --PrimaryDark: #882430;
    --PrimaryMedium: #ed7888;
    --PrimaryLight: #fdcbd2;
    --PrimaryDark99: #88243099;
    --PrimaryMedium99: #ed788899;
    --PrimaryLight99: #fdcbd299;

    --Accent1:#919456;
    --Accent2: #FF8000;
    --Accent3: #D189C2;
    /*---------------- FONTS ----------------*/
    --ExtraLargeFont:2.5rem;
    --LargeFont: 2.2rem;
    --MediumFont:1.8rem;
    --SmallFont:1.5rem;
    --ExtraSmallFont:1.2rem;

    --IMFellEnglish: "IM Fell English", serif;
    --Bonbon: "Bonbon", cursive;
    --MountainsOfChristmas: "Mountains of Christmas", serif;
    --PrincessSofia: "Princess Sofia", cursive;

    --Border: 0.15rem var(--PrimaryMedium) solid;
}
*{
    padding: 0;
    margin: 0;
}
/* BACKGROUND PATTERN */
.gingham {
  background-image: 
    linear-gradient(
      0deg,
      var(--PrimaryMedium99) 0% 10%,
      var(--LightNeutral99) 10% 30%,
      var(--PrimaryLight99) 30% 50%,
      var(--PrimaryLight99) 50% 70%,
      var(--LightNeutral99) 70% 90%,
      var(--PrimaryMedium99) 90% 100%
    ),
    linear-gradient(
      90deg,
      var(--PrimaryMedium99) 0% 10%,
      var(--LightNeutral99) 10% 30%,
      var(--PrimaryLight99) 30% 50%,
      var(--PrimaryLight99) 50% 70%,
      var(--LightNeutral99) 70% 90%,
      var(--PrimaryMedium99) 90% 100%
    );
  background-size: 100px 100px, 100px 100px;
}
.polkadots {
  background-image: 
    radial-gradient(var(--PrimaryDark) 20%, transparent 20%),
    radial-gradient(var(--PrimaryDark) 20%, transparent 20%);
  background-position: 0px 0px, 60px 60px;
  background-size: 120px 120px;
  background-color: rgb(255, 255, 218);
}


/* PRESETS */
h1{
    font-size: var(--ExtraLargeFont);
    font-family: var(--MountainsOfChristmas);
}
h2{
    font-size: var(--LargeFont);
    font-family: var(--MountainsOfChristmas);
}
h3{
    font-size: var(--MediumFont);
    font-family: var(--MountainsOfChristmas);
}
p{
    font-size: var(--ExtraSmallFont);
    font-family:'Times New Roman', Times, serif;
}
a{
 font-size: var(--ExtraSmallFont);
 font-family: 'Times New Roman', Times, serif;
}
/* -------------------*/
body{
    width: 100vw;
    height: 100vh;
}
.wrapper{
    border-radius: 1rem;
    margin: 3vh 15vw ;
    width: 70vw;
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: .5rem;
    padding: .5rem;
    border: var(--Border);
    background: linear-gradient(180deg,
    var(--PrimaryMedium) 0%, 
    var(--PrimaryLight) 100%
    );
}
.wrapper header,
.wrapper aside,
.wrapper main,
.wrapper footer{
    background-color: var(--LightNeutral);
    border-radius: 0.5rem;
}
/* --------------- HEADER --------------- */
.wrapper header {
  grid-area: header;
  height: 10vh;
  border: var(--Border);
}
.title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title a{
    font-family: var(--MountainsOfChristmas);
    font-size: 3.5rem;
    color: var(--PrimaryMedium);
    font-weight: 500;
    text-decoration: none;
}
/* --------------- ASIDE --------------- */
.wrapper aside {
  grid-area: aside;
  background: linear-gradient(180deg,
    var(--PrimaryMedium) 0%, 
    var(--PrimaryLight) 100%
    );
    display: flex;
    flex-direction: column;
}

.asideHeader{
    padding: 0.5rem;
    color: var(--PrimaryMedium);
    border-bottom: var(--Border);
}
.asideContainer{
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    border: var(--Border);
    background-color: var(--LightNeutral);
}
.asideBody{
    color: var(--PrimaryMedium);
}
.asideContainer #tag,
.asideContainer #navLink{
    color: var(--PrimaryMedium);
    text-decoration: none;
}
.statusBox,
.tags,
.navLinks{
    list-style: none;
    padding: 0.5rem;
}

/* --------------- MAIN --------------- */
.wrapper main {
  grid-area: main;
  padding: .5rem;
  border: var(--Border);
}
/* --------------- FOOTER --------------- */
.wrapper footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    text-align: center;  
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    height: 3vh;
    border: var(--Border);
}
.postcard{
    padding: 0.5rem;
}
.postcard a{
    text-decoration: none;
}
.recentPosts{
    border: var(--Border);
    border-radius: .5rem;
    padding: .5rem;
}



/*---------------- THEME TOGGLE ----------------*/

.themeToggle {
    padding: .3rem;
    font-size: var(--ExtraSmallFont);
    border: 2px var(--DarkNeutral) solid;
    border-radius: 1.5rem;
    background: none;
}
.fa-sun { 
    color: var(--DarkNeutral); }
.fa-moon { 
    color: transparent; 
}

.dark .fa-sun { color: transparent; }
.dark .fa-moon { color: var(--LightNeutral); }

.burgerIcon{
    display: none;
}


/*---------------- SIDEBAR ----------------*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--LightNeutral);
    height: 100vh;
    width: 100vw;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/*---------------- BURGER TOGGLE ----------------*/
.burgerIcon{
   position: fixed;
   right: 0;
   top: 0;
   padding: .3rem;
    font-size: var(--ExtraSmallFont);
    border: 2px var(--DarkNeutral) solid;
    border-radius: 1.5rem;
    background: none;

}

.dark .fa-bars{
    color: var(--LightNeutral);
}

.closeIcon{
    position: fixed;
   right: 0;
   top: 0;
   padding: .3rem;
    font-size: var(--ExtraSmallFont);
    border: 2px var(--DarkNeutral) solid;
    border-radius: 1.5rem;
    background: none;
    
}

.dark .fa-xmark{
    color: var(--LightNeutral);
}

/*---------------- DARK MODE ----------------*/ 
.dark .menu {
  color: var(--LightNeutral);
}
.dark body {
  background-color: var(--DarkNeutral);
  color: var(--LightNeutral);
}
.dark .themeToggle {
    border: 2px var(--LightNeutral) solid;
}
.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark a{
    color: var(--LightNeutral);
}

.dark header{
    border-bottom: var(--LightNeutral) 2px solid;
}

.dark .postcard{
    border: var(--LightNeutral) 2px solid;
}

@media (max-width: 600px){
.wrapper{

    display: flex;
    flex-direction: column;
}
.wrapper aside{
    display: none;
}

.sidebar .sidebarContent{
    height: 90vh;
    width: 90vw;
}

.burgerIcon{
    display: flex;
}

}