:root{
    /*---------------- COLOR PALLATE ----------------*/
    --DarkNeutral:#22070A;
    --Accent:#16bd00;
    --LightNeutral:#FFDAE9;

    /*---------------- FONTS ----------------*/
    --ExtraLargeFont:2.2rem;
    --LargeFont: 1.9rem;
    --MediumFont:1.6rem;
    --SmallFont:1.3rem;
    --ExtraSmallFont:1rem;

    --CheckerBorder: 1px solid none;
}

/*---------------- PRESETS ----------------*/
.solid{
    background-color: var(--LightNeutral);
}

/*---------------- GLOBAL ----------------*/
*{
    margin:0;
    padding: 0;

    box-sizing: border-box;
    color: var(--DarkNeutral);
    font-family:Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1,
h2,
h3,
p{
    color: var(--DarkNeutral);
}

h1{
    font-size: var(--LargeFont);
    font-weight: 700;
}

h2{
    font-size: var(--MediumFont);

}

p{
    font-size: var(--SmallFont);
}

a{
    font-size: var(--SmallFont);
    text-decoration: none;
}
a:hover{
    color: var(--Accent);
    text-decoration: underline;
}

/*---------------- HEADER ----------------*/
header{
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: var(--DarkNeutral) 2px solid;
}

.titleContainer{
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.title{
    width: max-content;

    font-size: var(--SmallFont);
}
.headerNav{
    width: 50vw;
}

.headerNav .nav-links{
    width: 100%;  

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
}


.utilsContainer{
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*---------------- THEME TOGGLE ----------------*/

.themeToggle {
    padding: .3rem;
    font-size: var(--ExtraSmallFont);
    border: 2px var(--DarkNeutral) solid;
    border-radius: 1.5rem;
    background: none;

}
.fa-sun { 
    color: var(--DarkNeutral); }
.fa-moon { 
    color: transparent; 
}

.dark .fa-sun { color: transparent; }
.dark .fa-moon { color: var(--LightNeutral); }






/* Main */

main{
    width: 50vw;
    padding: 1rem;
}



/*Full screen nav*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--LightNeutral);
    height: 100vh;
    width: 100vw;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dark .sidebar{
    background-color: var(--DarkNeutral);
}
.dark .nav-link{
    color: var(--   --LightNeutral);
}

/*---------------- BURGER TOGGLE ----------------*/
.burgerIcon{
    color: var(--DarkNeutral);
    padding: .3rem;
    font-size: 2rem;
    border:none;
    border-radius: 1.5rem;
    background: none;
    display: none;
}

.dark .fa-bars{
    color: var(--LightNeutral);
}

.closeIcon{
    color: var(--DarkNeutral);
    padding: .3rem;
    font-size: 3rem;
    border: none;
    background: none;
}

.dark .fa-xmark{
    color: var(--LightNeutral);
}

/*---------------- DARK MODE ----------------*/ 
.dark .menu {
  color: var(--LightNeutral);
}
.dark body {
  background-color: var(--DarkNeutral);
  color: var(--LightNeutral);
}
.dark .themeToggle {
    border: 2px var(--LightNeutral) solid;
}
.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark a{
    color: var(--LightNeutral);
}

.dark header{
    border-bottom: var(--LightNeutral) 2px solid;
}


/* TAGS */
.tags{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#tag{
    padding: 1rem;
    position: relative;

}


#content{
        padding: 1rem;
}

@media (max-width: 600px){
    body{
        width: 100vw;
    }
    main{
        width: 100vw;
    }
    .headerNav{
        display: none;
    }
    .burgerIcon{
        display: flex;
    }

    header{
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: var(--DarkNeutral) 2px solid;
    }

    .titleContainer{
        width: 40vw;
        border: var(--CheckerBorder);
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
    }

    .utilsContainer{
        width: 40vw;
        border: var(--CheckerBorder);
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
    }

    .sidebar .nav-links{
        width: 50vw;
        height: 50vw;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .sidebar .nav-link a{
        font-size: var(--LargeFont);
    }
}