---
import BaseLayout from "../layouts/BaseLayout.astro"
const  pageBackground = "solid"
const pageTitle = "About Me"
import { websiteText } from "../data/data.ts"
---
<BaseLayout class={pageBackground} pageTitle={pageTitle}>
    <h3>{ websiteText.aboutMe }</h3>
</BaseLayout>