---
import BaseLayout from "../layouts/BaseLayout.astro"
import { websiteText } from "../data/data.ts"
const pageBackground = "gingham"
const pageTitle = "About Me"
---
<BaseLayout pageBackground={pageBackground} pageTitle={pageTitle}>
    <h3>{ websiteText.aboutMe }</h3>
</BaseLayout>