---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Rachel Costeira";
const  pageBackground = "stripes"
---
<BaseLayout pageBackground={pageBackground} pageTitle={pageTitle}>
<span> Welcome to my website!</span>
</BaseLayout>
