---
import Navigation from "../components/Navigation.astro"
import StatusBox from "../components/StatusBox.astro";
import Tags from "../components/Tags.astro"
---
    <aside>
		<div class="aboutMeSummary">
		<p>Hello! I'm Rachel. I'm 21 years old, culinary student and hopefully future chef</p>
		</div>
		<Navigation />
		<Tags />
		<StatusBox />
	</aside>