---
import Navegation from "../components/Navegation.astro"
import Socials from "../components/Socials.astro"
---
<header>
    <Navegation />
    <span class="title">Rachel Costeira</span>
    <Socials />
</header>