---
import { navLinks } from "../data/data.ts"
---
<div class="asideContainer navContainer">
    <h3 class="asideHeader navHeader">Navigation</h3>
    <ul class="asideBody navLinks">
      {navLinks.map((site) => (
        <li class="navLink">
          <a id="navLink" href={site.url} >
            {site.name}
          </a>
        </li>
      ))}
    </ul>
</div>
