---
import { navLinks } from "../data/data.ts"
---
<nav>
  <h3 id="navH3">Navigation</h3>
  <ul class="navLinks">
    {navLinks.map((site) => (
      <li class="navLink">
        <a href={site.url} >
          {site.name}
        </a>
      </li>
    ))}
</ul>
</nav>

