---
import { navLinks } from "../data/data.ts"
---
<ul class="nav-links">
    {navLinks.map((site) => (
      <li class="nav-link">
        <a href={site.url} target="_blank" rel="noopener noreferrer">
          {site.name}
        </a>
      </li>
    ))}
</ul>


