---
import Navigation from "../components/Navigation.astro"
import StatusBox from "../components/StatusBox.astro";
import Tags from "../components/Tags.astro"
import CloseIcon from "../components/CloseIcon.astro"
---	
<div class="sidebar">
    <CloseIcon />
    <div class="sidebarContent">
      <Navigation />
      <Tags />
      <StatusBox />
    </div>
        
</div>