---
import { statusData } from "../data/data.ts"
---
<div class="statusBox">
  <h3 id="statusH3">Currently</h3>
  <ul >
    {statusData.map((site) => (
      <li><p>{site.name}: {site.status}</p></li>
    ))}
  </ul>
</div>
