---
import { statusData } from "../data/data.ts"
---
<div class="asideContainer statusBoxContainer">
  <h3 class="asideHeader statusHeader">Currently</h3>
  <ul class="asideBody statusBox">
    {statusData.map((site) => (
      <li><p>{site.name}: {site.status}</p></li>
    ))}
  </ul>
</div>
