---
import Navigation from "../components/Navigation.astro"
import StatusBox from "../components/StatusBox.astro";
import Tags from "../components/Tags.astro"
import "../styles/global.css"

const { pageTitle } = Astro.props;
const { pageBackground } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://www.graphxkingdom.com/graphics/documents/doc46.gif" />
		<link rel="icon" href="https://www.graphxkingdom.com/graphics/documents/doc46.gif" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class={pageBackground}>
        <div class="bodyWrapper">
			<header>
				<div class="titleContainer">
					<span class="title">Rachel's Archive</span>
				</div>
				
				
			</header>
			<div class="mainWrapper">
				<aside>
					<div class="aboutMeSummary">
						<span>Hello! I'm Rachel. I'm 21 years old, Christian, culinary student and hopefully future chef</span>
					</div>
					<Navigation />
					<Tags />
					<StatusBox />
					
				</aside>
				<main>
					<slot />
				</main>
			</div>
			<footer>
				<span>Made by Rachel Costeira, using Astro.js</span>
			</footer>
		</div>
	</body>
	<script src="../js/sidebar.js"></script>
  <script src="https://kit.fontawesome.com/3744dbacbe.js" crossorigin="anonymous"></script>
</html>
