---
import Aside from "../components/Aside.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css"

const { pageTitle } = Astro.props;
const { pageBackground } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://www.graphxkingdom.com/graphics/documents/doc46.gif" />
		<link rel="icon" href="https://www.graphxkingdom.com/graphics/documents/doc46.gif" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class={pageBackground}>
		<div class="wrapper">
			<Header />
			<Aside />
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
	<script src="../js/sidebar.js"></script>
  <script src="https://kit.fontawesome.com/3744dbacbe.js" crossorigin="anonymous"></script>
</html>
